@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    
    /*font-family:'Noto Sans', sans-serif;*/
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:25px 15px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:black;
    font-size:27px;
}

h1{
    margin-top:116px;
    margin-left:46px;
    font-size:20px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:19px;
    width:323px;
    height:29px;
    margin-left:46px;
    font-size: 17px;
  }

.user-icon{
    font-size:30px;
}

.member{
    margin-right:170px;
}

.add{
    margin-top:19px;
    margin-left:46px;
    border-radius: 20px;
    background-color: #D0CBFF;
    background-size:cover;
    background-position:center;
    display: flex; /* Aplicar flexbox para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */

    height:39px;
    width:319px;
    font-size:20px;
}

.add p{
    font-size:20px;
}

h2{
    margin-top:26px;
    margin-left:46px;
    font-size: 20px;
    font-weight: bold;
}

.add-encuesta{
    margin-top:13px;
    margin-left:46px;
    border-radius: 20px;
    background-color: #D0CBFF;
    background-size:cover;
    background-position:center;
    display: flex; /* Aplicar flexbox para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */

    height:101px;
    width:318px;
    font-size:20px;
}