@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    
    /*font-family:'Noto Sans', sans-serif;*/
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

.header-destinos{
    position:fixed;
    top:0;
    left:0;
    width:93%;

    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:25px 15px;
    font-weight: bold;
}


.header-destinos a{
    text-decoration: none;
    color:black;
    font-size:27px;
}

.p-style1{
    margin-top:100px;
}

.form1-destinos{
   
    
    margin: 0 auto;
 
  width:70%;
}

.form1-destinos label, .form2-destinos label{
    font-size:20px;
    display:flex;
    font-weight: bold;
    margin-bottom:15px;
}

.p-style{
    margin-top: 20px;
}

.form1-destinos input, .form2-destinos input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form2-destinos{
    margin-left:28px;
}

.add-destino{
    margin-top:30px;
    border-radius: 20px;
    background-color: #D0CBFF;
    border-color:#D0CBFF;
    height:49px;
    width:162px;
    font-size:15px;
    font-weight: bold;
}
