.header-destinos {
  text-align: center;
  display: flex;
}

.tablaDestinos {
  width: 100%;
  margin-top: 116px;
}

.tablaDestinos td {
  text-align: center;
}

.add-destino {
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #D0CBFF;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  margin-top: 50px;
}

.eliminar-destino {
    border-radius: 20px;
    background-color: #D0CBFF;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap; /* Evita que el texto se desborde a la siguiente línea */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto se desborda */
  }