@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    
    /*font-family:'Noto Sans', sans-serif;*/
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

.header-home{
    top:0;
    left:0;
    width:100%;

    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:15px 15px;
}

.header-home a{
    text-decoration: none;
    color:black;
    font-size:30px;
}

.resumen-home, .content-home{
    width:100%;
    padding: 50px;
    margin-top: -50px;  
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
}

.wrapper-home{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    
   
}

.resumen-home{
    margin-top:-20px;
}

.resumen-home p{
    margin-top:20px;
    line-height:1.5;
    
}



.box-home{
    border-radius: 20px;
    background-color: #D0CBFF;
    background-size:cover;
    background-position:center;
    display: flex; /* Aplicar flexbox para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
   
    height:209px;
    width:174px;

    font-style: italic;
    font-size:20px;
    text-decoration: none;

    color:black;
}




.gastos-home{
    margin-top:40px;
    border-radius: 20px;
    background-color: #D0CBFF;
    background-size:cover;
    background-position:center;
    display: flex; /* Aplicar flexbox para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */

    height:58px;
    width:351px;
    font-size:20px;
    text-decoration: none;

    color:black;
}

