

.header-miembros{
    position:fixed;
    top:0;
    left:0;
    width:414px;
    height:65px;

    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:25px 15px;
    font-weight: bold;
}

.header-miembros .miembros{
  margin-right: 50px; 
}

.header-miembros a{
    text-decoration: none;
    color:black;
    font-size:27px;
    font-family: lora;
}

.lista-miembros h1{
    margin-top:116px;
    margin-left:46px;

    font-weight: bold;
}

.title-miembros{
  color:gray;
  font-size:15px;
}

.member-miembros{
  margin-left:20px;
}

.container-miembros {
    display: flex;

    align-items: center;
    margin-top:19px;
    width:323px;
    height:29px;
    margin-left:46px;
    font-size: 17px;
  }
  .user-icon-miembros{
    font-size:30px;
}

.member-miembros{
    margin-right:110px;
}

.miembros-miembros h2{
    margin-top:51px;
    margin-bottom: 26px;
    margin-left:46px;
    font-size: 20px;
    font-weight: bold;
}

.add-miembro{
  margin-top:30px;
  margin-left:20px;
  border-radius: 20px;
  background-color: #D0CBFF;
  background-size:cover;
  background-position:center;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height:49px;
  width: 90%;
  font-size:15px;
  font-weight: bold;
  margin-top:50px;
}





.link-miembros {
  text-decoration: none;
  color: black;
}

.eliminar-miembro{
  
  border-radius: 20px;
  background-color: #D0CBFF;
  background-size:cover;
  background-position:center;
  
  margin-left:auto;
  height:35px;

  
  font-size:15px;
  font-weight: bold;
  
}

.lista-documentos h1{
  margin-top:116px;
  margin-left:46px;

  font-weight: bold;
}

.style-docs{
  margin-top:100px;
  margin-left:46px;
  font-weight: bold;
  color:gray;
}

.container-docs{
  margin-top:100px;
  margin-left:46px;
}

.container-docs label{
  font-weight:bold;
  
  
}

.container-docs select{
  background-color: #D0CBFF;
  background-size:cover;
  background-position:center;
  border-radius: 25px;
  margin-top:7px;
}

.container-label input{
  margin-top:7px;
}

.container-label{
  margin-top:25px;
}


